@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inknut_Antiqua';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf') format('truetype');
}

:root {
  --background-main: #EEF0F2;
  --background-secondary: #1C1C1C;
}

h1, p {
  font-family: 'Inknut_Antiqua';
  font-weight: 100;
}

.mainHeader {
  font-size: 5rem;
}