@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inknut_Antiqua';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf') format('truetype');
}

:root {
  --background-main: #EEF0F2;
  --background-secondary: #1C1C1C;
}

body {
  background-color: var(--background-main);
}

h1, h2, h3, p {
  font-family: 'Inknut_Antiqua';
  font-weight: 100;
}



/* Main page styling */

.mainHeader {
  font-size: 5rem;
}

.mainHeaderContainer {
  height: 60vh;
}

/* lowerPage refers to the black screen you scroll down to with all links and content */

.lowerPage {
  background-color: var(--background-secondary);
  position: relative;
  width: 100%;
  height: 60rem;
}

.lowerPage::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10rem;
  top: -10rem;
  background-color: var(--background-secondary);
  mask-image: url(../public/triangle.svg);
  transform: rotate(.5turn);
}

.arrowLower {
  position: absolute;
  top: -6.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem;
  height: 3.5rem;
  background-image: url(../public/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}



/* Projects page styling */

.projectsHeaderContainer {
  height: 105vh;
  background-color: var(--background-secondary);
}

.projectsHeaderContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 105%;
  background-color: var(--background-secondary);
  mask-image: url(../public/triangle.svg);
}

.projectsHeader {
  color: var(--background-main);
}